@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

footer a:hover {
  text-decoration: underline;
}
body {
  background-color: #f0f0f0;
  padding-top: 60px !important;
}

.slick-dots {
  position: absolute;
  bottom: 25px !important;
}
